<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>{{ title }}</h2>
      <ul class="list-group" >
      <app-post-list-component 
      *ngFor="let post of posts" 
      [title] = "post.title" 
      [content] = "post.content"
      [loveIts] = "post.loveIts"
      [dontLoveIts] = "post.dontLoveIts">    
    </app-post-list-component>
         
      </ul>
    </div>
  </div>
</div>
