<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': loveIts > dontLoveIts,
                'list-group-item-danger': loveIts < dontLoveIts}">
  
  <div>
    <h4 id="titre" [ngStyle]="{color: getColor()}"> {{ title }} </h4>
    <div id="maj">{{ createdAt | async | date: 'short'}}</div>
  </div>
  <p [ngStyle]="{color: getColor()}"> {{ content }}</p>
  <button class="btn btn-success" 
          (click)="onClickLoveIts()">Love it ({{ getLoveIts()}})</button>
  <button class="btn btn-danger" 
          (click)="onClickDontLoveIts()">Don't love it ({{ getDontLoveIts()}})</button>
 
</li>

